/* This file defines the visual style of the StackHammer app, like colors, sizes, and layouts. It's written in CSS, which helps make the app look nice and organized. */

.logo.vite:hover {
  filter: drop-shadow(0 0 2em #747bff); /* Adds a glowing effect when hovering over the Vite logo. */
}

.logo.typescript:hover {
  filter: drop-shadow(0 0 2em #2d79c7); /* Adds a glowing effect when hovering over the TypeScript logo. */
}
:root {
  /* These are the basic settings for the whole app, like the type of text, size, color, and background. */
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #0f0f0f; /* Text color */
  background-color: #f6f6f6; /* Background color */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.container {
  /* This sets up the main area of the app to organize content in the center. */
  margin: 0;
  padding-top: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.logo {
  /* This defines how logos look, like their size and how they change when interacted with. */
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: 0.75s;
}

.logo.tauri:hover {
  filter: drop-shadow(0 0 2em #24c8db); /* Adds a glowing effect when hovering over the Tauri logo. */
}

.row {
  display: flex;
  justify-content: center;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

h1 {
  text-align: center;
}

input,
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: #0f0f0f;
  background-color: #ffffff;
  transition: border-color 0.25s;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

button {
  cursor: pointer;
}

button:hover {
  border-color: #396cd8;
}
button:active {
  border-color: #396cd8;
  background-color: #e8e8e8;
}

input,
button {
  outline: none;
}

#greet-input {
  margin-right: 5px;
}

@media (prefers-color-scheme: dark) {
  /* This changes the app's colors to a dark theme if the user's device is set to dark mode. */
  :root {
    color: #f6f6f6; /* Light text for dark background */
    background-color: #2f2f2f; /* Dark background */
  }

  a:hover {
    color: #24c8db;
  }

  input,
  button {
    color: #ffffff;
    background-color: #0f0f0f98;
  }
  button:active {
    background-color: #0f0f0f69;
  }
}
